.idea/
target/
*.iml
/.gradle/8.4/checksums/checksums.lock
/.gradle/8.4/checksums/md5-checksums.bin
/.gradle/8.4/checksums/sha1-checksums.bin
/.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.4/dependencies-accessors/gc.properties
/.gradle/8.4/executionHistory/executionHistory.bin
/.gradle/8.4/executionHistory/executionHistory.lock
/.gradle/8.4/fileChanges/last-build.bin
/.gradle/8.4/fileHashes/fileHashes.bin
/.gradle/8.4/fileHashes/fileHashes.lock
/.gradle/8.4/fileHashes/resourceHashesCache.bin
/.gradle/8.4/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/build/classes/java/main/datetime/DateTimeLogic.class
/build/classes/java/main/lambdas/LambasLogic.class
/build/classes/java/main/streams/Account$AccountType.class
/build/classes/java/main/streams/Account.class
/build/classes/java/main/streams/Person.class
/build/classes/java/main/streams/StreamsLogic.class
/build/classes/java/test/datetime/DateTimeLogicTest.class
/build/classes/java/test/lambdas/LambasLogicTest.class
/build/classes/java/test/streams/StreamsTest.class
/build/reports/tests/test/css/base-style.css
/build/reports/tests/test/css/style.css
/build/reports/tests/test/js/report.js
/build/reports/tests/test/index.html
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/test-results/test/binary/results.bin
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/compileTestJava/previous-compilation-data.bin
